html {
  background-color: black;
}

body {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

canvas {
  border: 1px solid gray;
}

img {
  display: none;
}